# Python
__pycache__/
*.pyc
*.pyo
*.pyd
backend/.env
.env
env/
backend/env/
venv/
*.egg-info/

# FAISS / model cache
*.faiss
*.pkl

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
# Vite internal cache files (vite.config.js.timestamp-*.mjs)
frontend/vite.config.js.timestamp-*.mjs

# OS
.DS_Store
Thumbs.db